<div>
  <input *ngIf="registry.On" type="checkbox"
  [(ngModel)]="registry.Checked"
  [ngModelOptions]="{standalone: true}"
  [attr.disable]="!registry.On">
  {{registry.MachineName}}
  <span *ngIf="registry.On" class="dotGreen"></span>
  <span *ngIf="!registry.On" class="dotRed"></span> <br />
  IP: {{registry.IP}} <br />
  Versão do Windows:
  <ul>
    <li>
      {{registry.WindowsVersion}}
    </li>
  </ul>
  Versão do .Net: {{registry.DotNetVersion}} <br />
  Antivírus: {{registry.Antivirus}} <br />
  Firewall: <br/>
  <ul>
    <li *ngFor="let firewallStatus of registry.FirewallStatus">
      {{ firewallStatus }}
    </li>
  </ul>
</div>
